@model SoftUniBlog.Models.Post

@{
    ViewBag.Title = "Create";
}

<head>
    <title>Motivation</title>
</head>
<style>
    body {
        background-image: url('http://www.careandliving.com/wp-content/uploads/2016/08/muscular-guy-six-pack-HD.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
</style>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2 style="color: darkblue">Topic</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div style="color: darkblue" class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @rows = "10" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="color: darkblue"class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

   

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" style="color: darkblue"/>
            </div>
        </div>
    </div>

}

<div style="color: darkblue">
    @Html.ActionLink("Back to Forum", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<hr />
<footer id="footer">
    <p style="color:darkblue"> &copy; @DateTime.Now.Year - Flex 07</p>
</footer>
