@model SoftUniBlog.Models.Post

@{
    ViewBag.Title = "ReadMore";
}

<h2>Forum</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Content
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
    @for (int i = 0; i < Model.Comments.Count; i++)
    {
        <h1>@Model.Comments[i].Name</h1>
    }
    <form action="/comment/create" method="post">
        <input type="text" name="name" class="form-control" />
        <input type="submit" />
    </form>
</div>
<p>
    @if (ViewBag.IsUserAuthorized)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
