<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flex 07</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
<script type='text/javascript' src='loadImg.js'></script>
<script type='text/javascript'>
    $(function(){
        $('img').imgPreload()
    })
</script>
</head>

<body>

    <div class="se-pre-con"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Fitness Equipment", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li>
                        <img src="@Url.Action("UserPhotos", "Home" )" height="40" width="40" />

                    </li>

                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Equipment <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">*@
                    <li class="hvr-bounce-out">@Html.ActionLink("Professional Equipment", "Index", "ProfessionalEquipment")</li>
                    <li class="hvr-bounce-out">@Html.ActionLink("Semi-Professional Equipment", "Index", "SemiProfessional")</li>
                    <li class="hvr-bounce-out">@Html.ActionLink("Cardio Equipment", "Index", "CardioEquipment")</li>
                    <li class="hvr-bounce-out">@Html.ActionLink("Home Equipment", "Index", "HomeEquipment")</li>
                    @*</ul>
                        </li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact us <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Forum", "Index", "Posts")</li>
                            <li>@Html.ActionLink("New Topic", "Create", "Posts")</li>
                            <li>@Html.ActionLink("Contacts", "Index", "Contacts")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - Flex 07</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="http://scmplayer.net/script.js"
            data-config="{'skin':'skins/black/skin.css','volume':30,'autoplay':true,'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'','url':'https://www.youtube.com/watch?v=eZskc6Aa6mE'},{'title':'','url':'https://www.youtube.com/watch?v=gf0NcUfvoZY'},{'title':'','url':'https://www.youtube.com/watch?v=wBjHPqMz0q0'}]}"></script>


</body>

    
</html>
